<div class="container">
    <div class="row">
        <div class="col-7">
            <nb-card class="overflowit">
                <nb-card-header>Servers</nb-card-header>
                <nb-list>
                        <nb-list-item *ngFor="let server of servers">
                            <a href="{{'/pages/server/'+server.id}}">
                                <nb-user name={{server.IP}} [title]="server.OS" picture="https://akveo.github.io/eva-icons/outline/png/128/hard-drive-outline.png">
                                </nb-user>
                            </a>
                        </nb-list-item>
                </nb-list>

            </nb-card>
        </div>
        <div class="col-5">
            <nb-card>
                <nb-card-header><h4>Add Server</h4></nb-card-header>
                <nb-card-body>
                    <form #serverForm="ngForm" class="form form-horizontal">
                        <div class="form-group">
                            <label class="col-form-label"><b>Uturn server URL:</b></label>
                            <input class="form-control" fullWidth [(ngModel)]="ServerForm.url" min="3" name="url" nbInput pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" required status="info" type="text">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label"><b>Token:</b></label>
                            <input class="form-control" fullWidth [(ngModel)]="ServerForm.token" minlength="15" name="token" nbInput required status="info" type="text">
                        </div>
                        <div class="form-group">
                            <button (click)="addServer(ServerForm.url, ServerForm.token)" style="float:right;" [disabled]="serverForm.invalid" nbButton status="danger">Save</button>
                        </div>
                    </form>    
                </nb-card-body>
            </nb-card>
        </div>
    </div>        
</div>
